@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #ffffff;
  --secondary-foreground: #b8b8b8;
  --primary-color: #171717;
  --text-primary: #fff;
  --text-secondary: #b8b8b8;

  --bg-base: #000;
  --bg-soft: #0e0e0e;
  --bg-card: #171717;
  --bg-float: #212121;
  --bg-button: #b20c0c;

  --font-inter-display: "Inter Display", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ededed;
  }
}

@layer components {
  .container {
    width: 100%;
    max-width: 103rem;
    /* 1900px */
    margin-inline: auto;
    /* centered */
    padding-inline: 2.5rem;
    /* px-10 = 40px */
  }
}

body {
  font-family: var(--font-inter-display);
  background: var(--background);
  color: var(--foreground);
  transition-behavior: smooth;
}

/* Smooth transitions for language changes */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
button,
label {
  transition: all 0.3s ease-in-out;
}

/* Mongolian language font size adjustment */
html[lang="mn"] body {
  font-size: 1em;
}

html[lang="mn"] h1 {
  font-size: 4em;
}

html[lang="mn"] h2,
html[lang="mn"] h3 {
  font-size: 1.4em;
}

html[lang="mn"] p,
html[lang="mn"] span,
html[lang="mn"] a,
html[lang="mn"] button {
  font-size: 1em;
}

/* Extra small on mobile */
@media (max-width: 768px) {
  html[lang="mn"] body {
    font-size: 0.9em;
  }

  html[lang="mn"] h1 {
    font-size: 3em;
  }

  html[lang="mn"] h2,
  html[lang="mn"] h3 {
    font-size: 0.89em;
  }

  html[lang="mn"] p,
  html[lang="mn"] span,
  html[lang="mn"] a,
  html[lang="mn"] button {
    font-size: 0.9em;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
