
MONGODB_URL=mongodb+srv://Admin1user:Test123@cluster0.uqqr64y.mongodb.net/owner?authSource=admin&retryWrites=true&w=majority
JWT_SECRET=secret@2026

IMAGEKIT_PUBLIC_KEY=public_WhAha/M9Us8vuwyZwlXndBf/6F0=
IMAGEKIT_PRIVATE_KEY=private_DEkfNl6s6M95oU4j1jlkCp4W3Fk=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/hmdzn6vae
https://car-rental-client-6khh.vercel.app/



# Server Configuration
PORT=3001
EMAIL_USER = bbaagii0830@gmail.com
EMAIL_PASS = rcbw jimh psyx pmjn

# ImageKit Configuration
